@model THE_END_OF_C_.Models.TGROUP
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h2>Добавление пользователя</h2>
<form asp-action="create" asp-controller="home">
    <p>
        <label asp-for="Name">Имя</label><br />
        <input type="text" asp-for="Name" />
    </p>
    <p>
        <input type="submit" value="Отправить" />
    </p>
</form>